{% extends 'base/base.html' %}

{% block content %}

<h1>Login</h1>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<div class="row">
  <div class="col-12 border p-2 m-2">
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <div>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </div>
    <div>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </div>

    <div>
      <input type="submit" value="login" />
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
  </div>
</div>

<div class="row">
  <div class="col-6 p-0 m-0">
    <div class="card ml-2 p-1">
      <div class="card-block">
        <h2 class="card-title">Create your band account</h2>
        <p class="card-text">Are you an artist and you haven't got an account yet?</p>
        <a href="{% url 'artists:signup' %}" class="btn btn-primary">Sign Up here!</a>
      </div>
    </div>
  </div>

  <div class="col-6 p-0 m-0">
    <div class="card ml-2 p-1">
      <div class="card-block">
        <h2 class="card-title">Create your user account</h2>
        <p class="card-text">Do you want to support a group and you haven't got an account yet?</p>
        <a href="{% url 'user:signup' %}" class="btn btn-primary">Sign Up here!</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}