{% extends 'base/base.html' %}

{% block content %}

<h1>Bienvenid@, {{ name }}</h1>

<div class="row">
  <div class="col-12 border p-2 m-2">
    Desde tu perfil puedes gestionar tus datos de la cuenta{% if artist %} y los datos de tu banda{% endif %}.
  </div>
</div>

<div class="row">
  {% if artist %}
  <div class="col-6 p-0 m-0">
    <div class="card ml-2 p-1">
      <div class="card-block">
        <h2 class="card-title">Mange your band account</h2>
        <p class="card-text">Edit your profile and your band videos to engange more people!</p>
        <a href="{% if artist %}{% url 'artists:edit' artist.id %}{% else %}{% url 'artists:new' %}{% endif %}" class="btn btn-primary">Edit band</a>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="col-{% if artist %}6{% else %}12{% endif %} p-0 m-0">
    <div class="card ml-2 p-1">
      <div class="card-block">
        <h2 class="card-title">Manage your user account</h2>
        <p class="card-text">Edit your user account to specify your contact email and your bank account.</p>
        <a href="{% url 'artists:signup' %}" class="btn btn-primary">Edit user</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}