{% extends 'base/base.html' %}

{% block content %}

<h1>Editar credenciales de acceso</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

<a href="{% url 'user:profile' %}" class="button">Volver al perfil</a> 

{% endblock %}