{% extends 'base/base.html' %}

{% block content %}

<h1>Listado de videos</h1>

<a href="{% url 'artists:video_new' fk=request.user.artist.id %}" class="btn btn-primary">+ video</a>
<a href="{% url 'artists:edit' pk=request.user.artist.id %}" class="btn btn-primary">Volver</a>

<div class="artist_list row">
    {% for video in videos %}
        <div class="artist_element col-md-12 mt-2">
            <embed src="{{ video.url }}" alt="{{ video.artist.name }}" width="100%" height="320px" />
            <a href="/artists/video/{{video.artist.id}}/delete/{{video.id}}" class="col-12 btn btn-primary m-1"><i class="far fa-trash-alt"></i> Delete</a>
        </div>
    {% endfor %}
</div>

{% endblock %}