{% extends 'base/base.html' %}

{% block content %}

<h1>Gestionar recaudación</h1>

<div class="artist_list row">
    {% for collect in collects %}
        <div class="artist_element row mt-2">
            <div class="col-1">
                <a href="/artists/collect/{{collect.artist.id}}/delete/{{collect.id}}" class="col-12"><i class="far fa-trash-alt"></i></a><br>
                {% if collect.closed == False %}Active{% endif %}
            </div>
            <div class="col-11">
                <h2>{{ collect.name }} ({{ collect.total }}€ to collect)</h2>
                <p>{{ collect.description }}</p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block sidebar %}

    <div class="row mt-5">
        <a href="{% url 'artists:collect_new' fk=request.user.artist.id %}" class="col-12 btn btn-primary m-1">Añadir recaudación</a>
        <a href="{% url 'artists:edit' pk=request.user.artist.id %}" class="col-12 btn btn-primary m-1">Volver</a>
    </div>

{% endblock %}