{% extends 'base/base.html' %}

{% block content %}

<h1>Listado de artistas</h1>

<div class="artist_list row">
    {% for artist in object_list %}
        <div class="artist_element col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <img src="/media/{{ artist.picture }}" alt="{{ artist.name }}" class="col-md-12" />
                </div>
                <div class="col-md-9">
                    <h2><a href="{% url "artists:detail" artist.id %}">{{ artist.name }}</a></h2>
                    <p>{{ artist.description|slice:"0:200" }}...</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block sidebar %}
{% if not user.is_authenticated %}
    <div class="col-12 p-0 m-0">
        <div class="card p-1">
            <div class="card-block">
                <h2 class="card-title">Login</h2>
                <p class="card-text">Login to manage your band account!</p>
                <a href="/accounts/login/" class="btn btn-primary">Login</a>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
