{% extends 'base/base.html' %}

{% block content %}

	{% if allow_add %}
		<form method="post" enctype="multipart/form-data">
		    {% csrf_token %}
		    {{ form.as_p }}
		    <input type="submit" value="Submit" />
		</form>
	{% else %}
		<p>No puedes tener más de una recaudación activa</p>
		<p><a href="{% url 'artists:collect_list' fk=request.user.artist.id %}" class="btn btn-primary">Volver</a></p>
	{% endif %}

{% endblock %}