{% extends 'base/base.html' %}

{% block content %}

<h1>{{ artistvideo.artist.name }}</h1>
<p>
	<iframe width="560" height="315" src="{{ artistvideo.url }}" frameborder="0" allowfullscreen></iframe>
</p>
<p>
    <a href="{% url "artists:video_list" %}">Regresar</a>
</p>

{% endblock %}