{% extends 'base/base.html' %}

{% block content %}

<h1>Editar datos de la banda</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

{% endblock %}
{% block sidebar %}

<div class="row mt-5">
	<a href="{% url 'artists:video_list' fk=artist.id %}" class="col-12 btn btn-primary m-1">Gestionar videos</a> 
	<a href="{% url 'artists:collect_list' fk=artist.id %}" class="col-12 btn btn-primary m-1">Gestionar recaudación</a> 
	<a href="{% url 'user:profile' %}" class="col-12 btn btn-primary m-1">Volver al perfil</a> 
</div>

{% endblock %}