{% extends 'base/base.html' %}

{% block content %}

	<h1>{{ artist.name }}</h1>
    <div class="row">
        <div class="col-md-12">
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
			    	{% for video in videos %}
						<li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter }}" {% if forloop.counter == 0 %}class="active">{% endif %}</li>
					{% endfor %}
				</ol>
				<div class="carousel-inner">
			    	{% for video in videos %}
					<div class="carousel-item active">
						<iframe width="560" height="315" src="{{ video.url }}" frameborder="0" allowfullscreen></iframe>
					</div>
					{% endfor %}
				</div>
				<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
    <div class="row">
        <div class="col-md-12">
			<div class="artist_description">
				{{ artist.description }}
			</div>
		</div>
	</div>
    <div class="row">
        <div class="col-md-12">
			<div class="return">
			    <a href="{% url "artists:list" %}">Regresar</a>
			</div>
		</div>
	</div>

{% endblock %}

{% block sidebar %}

    <div class="form_quantity artist_element col-md-12 mt-4">
    	<h2>Do you want to be part os this band?</h2>
    	<form action="#">
    		<label for="quantity">Quantity</label>
    		<input type="number" placeholder="Quantity in euros" value="50" min="50" />
    		<input type="submit" class="button small" />
		</form>
	</div>

 	<div class="artist_element col-md-12 mt-4">
	 	<h2>Related artists</h2>
	 	{% for rel in related %}
	 		{% if artist.id != rel.id %}
	        <div class="row">
		            <div class="col-md-12">
		                <img src="/media/{{ rel.picture }}" alt="{{ rel.name }}" class="col-md-12" />
		            </div>
		            <div class="col-md-12">
		                <h3><a href="{% url "artists:detail" rel.id %}">{{ rel.name }}</a></h3>
		            </div>
		        </div>
	        {% endif %}
	 	{% endfor %}
    </div>

{% endblock %}