<ul id="main-submenu" class="nav justify-content-end">
  	<li class="nav-item">
    	<a class="nav-link active" href="/who-we-are" title="Quiénes somos">Quiénes somos</a></a>
  	</li>
  	<li class="nav-item">
    	<a class="nav-link" href="/contact" title="Contacto">Contacto</a></a>
  	</li>
  	{% if name %}
		<li class="nav-item dropdown">
		    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Hola, <strong>{{ name }}</strong></a>
		    <div class="dropdown-menu">
		      <a class="dropdown-item" href="/user/profile">Perfil</a>
		      <a class="dropdown-item" href="#">Editar de usuario</a>
		      {% if artist %}
		      <a class="dropdown-item" href="{% if artist %}{% url 'artists:edit' artist.id %}{% else %}{% url 'artists:new' %}{% endif %}">Editar info. de la banda</a>
		      {% endif %}
		      <div class="dropdown-divider"></div>
		      <a class="dropdown-item" href="#">Total recaudado</a>
		      <div class="dropdown-divider"></div>
		      <a class="dropdown-item" href="/accounts/logout?next=/artists">Salir</a>
		    </div>
		</li>
	{% else %}
		<li class="nav-item">
			<a class="nav-link" href="/accounts/login/" title="Mi cuenta">Mi cuenta</a>
		</li>
	{% endif %}
</ul>